/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 /* width: 950px; */
 height: 1000px;
 background-color: silver;
 margin: 20px 20px;
 padding: 20px 20px;
}
#header{
 height: 200px;
 background-color: green;
 margin: 20px 20px;
}
#navigation{
 height: 400px;
 width: 200px;
 background-color: blue;
 margin: 20px 20px; 
}
#main_content{
 height: 700px;
 width: 990px;
 background-color: red;
 position: relative;
 left: 250px;
 bottom: 420px;
}
.subcontents{
 height: 300px;
 width: 300px;
 background-color: yellow;

}
#advertisement{
 height: 200px;
 width: 940px;
 background-color: purple;
 position: relative;
 bottom: 500px;
 margin-left: 20px;
}

#one {
 position: relative;
 left: 20px;
 top: 20px;
}

#two {
    position: relative;
    left: 340px;
    bottom: 280px;
   }

#three {
    position: relative;
    left: 660px;
    bottom: 580px;
   }